.bodytext {
font-size : 1.6em;
 line-height : 1.4;
 font-family :  @font-family-sans-serif;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.navbar-brand {
padding: 0;
}

#menupusher{min-height: 80px;}

img:not(.jpg):not(.map){width: 100%;}
.navbar-brand img {
    width: 40%;
}

.center-block {  
  display: block;  
  margin-right: auto;  
  margin-left: auto;  
}  
